.user-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-window {
  background-color: wheat;
  padding: 32px 64px;
}

.header-area {
  text-align: center;
  padding: 32px;
  background-color: bisque;
}

.header-area h1 {
  margin: 0;
}

.address-container {
  background-color: whitesmoke;
  padding: 32px 64px;
}

@media only screen and (max-width: 600px) {
  .user-container {
    align-items: flex-start;
  }
  .user-window {
    background-color: whitesmoke;
    padding: 0px;
  }
  .address-container {
    background-color: whitesmoke;
    text-align: center;
  }
}
