.inputContainer {
  width: 100%;
}

.labelArea {
  text-align: left;
  min-width: 7rem;
  height: 2rem;
}

.inputArea input {
  font-size: 1.3rem;
  border: thin solid #444444;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .inputArea {
    width: 100%;
  }

  .inputArea input {
    width: inherit;
  }
}
