.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  text-align: center;
  padding-bottom: 32px;
}

.header-area {
  padding: 0px 32px;
  background-color: white;
}

.button-area {
  padding: 10px;
  justify-content: flex-start;
}

.form-area {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .home-container {
    width: 100vw;
    height: 50vh;
  }
  .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-area {
    padding: 0px;
  }
}
