.button {
  min-width: 100px;
  height: 40px;
}

.buttonArea {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
